<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sistema OS</title>
    <link rel="icon" href="./images/favicon.png" type="image/png" sizes="32x32"/>
    <link rel="stylesheet" href="../assets/css/estoque.css">
    <link href="https://unpkg.com/tabulator-tables@6.2.1/dist/css/tabulator.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://unpkg.com/tabulator-tables@6.2.1/dist/js/tabulator.min.js"></script>

    <script>
    document.addEventListener("DOMContentLoaded", function(e) {
        var data = JSON.parse('<%- JSON.stringify(data) %>')

        if(data.length === 0) {
            var urlParams = new URLSearchParams(window.location.search);
            var skip = urlParams.get('skip');
            if(skip > 0) {
                window.location = '/estoque?skip=' + (skip - 10)
            }
        } 

        var tableData = data.map((item) => ({
            caixa: item.slot,
            produto: item.itemName,
            quantidade: item.quantity
        }))

        var table = new Tabulator("#estoqueTable", {
            columnDefaults: {
                minWidth: 150, //maximum column width of 300px for all columns
            },
            data: tableData, //assign data to table
            columns:[ //Define Table Columns
                {title:"caixa", field:"caixa"},
                {title:"produto", field:"produto"},
                {title:"quantidade", field:"quantidade"},
            ],
            
            pagination: true,
            paginationButtonCount: 0,
            paginationSize: 2,
        });

        table.on("pageLoaded", function(page){
            window.location = '/estoque?skip=' + page * 10
        });
    } );</script>

</head>
<body>
    <header>
        <a href="./home"><h1>Estoque</h1></a>
    </header>
    <section>
        <div id="estoqueTable"></div>
    </section>
    </body>
    </html>